<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782161175621-t75dkb9d4uh367inmpr3d0drq6k9a2de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782161175621-t75dkb9d4uh367inmpr3d0drq6k9a2de</string>
	<key>API_KEY</key>
	<string>AIzaSyAM6wRt3496av3WOXPnJ3tBaIeBFdn1zCM</string>
	<key>GCM_SENDER_ID</key>
	<string>782161175621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mendelu.cz.ICoffee</string>
	<key>PROJECT_ID</key>
	<string>icoffeedb</string>
	<key>STORAGE_BUCKET</key>
	<string>icoffeedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782161175621:ios:27911dc108fb543bb2ef2c</string>
	<key>DATABASE_URL</key>
	<string>https://icoffeedb.firebaseio.com</string>
</dict>
</plist>